@import url("reset.css");
@import url("_tmp_kat.css");
@import url("_tmp_ynb.css");
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fs10 {
  font-size: 71.42857142857143%;
}
.fs11 {
  font-size: 78.57142857142857%;
}
.fs12 {
  font-size: 85.71428571428571%;
}
.fs13 {
  font-size: 92.85714285714286%;
}
.fs14 {
  font-size: 100%;
}
.fs15 {
  font-size: 107.14285714285714%;
}
.fs16 {
  font-size: 114.28571428571428%;
}
.fs17 {
  font-size: 121.42857142857142%;
}
.fs18 {
  font-size: 128.57142857142858%;
}
.fs19 {
  font-size: 135.71428571428572%;
}
.fs20 {
  font-size: 142.85714285714286%;
}
.fs21 {
  font-size: 150%;
}
.fs22 {
  font-size: 157.14285714285714%;
}
.fs23 {
  font-size: 164.28571428571428%;
}
.fs24 {
  font-size: 171.42857142857142%;
}
.fs25 {
  font-size: 178.57142857142858%;
}
.fs26 {
  font-size: 185.71428571428572%;
}
.fs27 {
  font-size: 192.85714285714286%;
}
.fs28 {
  font-size: 200%;
}
.fs29 {
  font-size: 207.14285714285717%;
}
.fs30 {
  font-size: 214.28571428571428%;
}
.fs31 {
  font-size: 221.42857142857144%;
}
.fs32 {
  font-size: 228.57142857142856%;
}
.fs33 {
  font-size: 235.71428571428572%;
}
.fs34 {
  font-size: 242.85714285714283%;
}
.fs35 {
  font-size: 250%;
}
.fs36 {
  font-size: 257.14285714285717%;
}
.fs37 {
  font-size: 264.2857142857143%;
}
.fs38 {
  font-size: 271.42857142857144%;
}
.fs39 {
  font-size: 278.57142857142856%;
}
.fs40 {
  font-size: 285.7142857142857%;
}
.fs41 {
  font-size: 292.85714285714283%;
}
.fs42 {
  font-size: 300%;
}
.fs43 {
  font-size: 307.14285714285717%;
}
.fs44 {
  font-size: 314.2857142857143%;
}
.fs45 {
  font-size: 321.42857142857144%;
}
/*-----------------------------------------------------------
body
-------------------------------------------------------------*/
body {
  background-image: url(../img/body_bg.png);
  background-repeat: repeat-x;
  background-position: 0 0;
}
body #wrap {
	background-repeat: no-repeat;
	background-position: center 0;
	padding: 0;
}
body.noscript #wrap,
body.SkipOn #wrap {
	margin-top:40px;
}

body #wrap.wrap-type-2nd {
  background-image: url(../img/wrap_bg2.png);
}
/*-----------------------------------------------------------
#container
-------------------------------------------------------------*/
#container {
  position: relative;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 950px;
  margin: 0 auto;
  background: #ffffff url(../img/sidebar_bg.png) repeat-y right 0;
  *zoom: 1;
  overflow: hidden;
  *border-left: 1px solid #ccc;
  *border-right: 1px solid #ccc;
}
#container:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
  overflow: hidden;
}
.wrap-type-2nd #container {
  *border-top: 1px solid #ccc;
}
/*-----------------------------------------------------------
header
-------------------------------------------------------------*/
#header {
	width: 100%;
	min-height: 140px;
	background-image: url(../img/head_bg3.png);
	background-repeat: repeat-x;
	background-position: 0px -5px;
}
body.SkipOn #header,
body.noscript #header{
	top: 37px;
}
#header #headerInner {
  position:fixed;
  width: 100%;
  margin: 0 auto;
  background-color:#fff;
  z-index:99;
}
#header #headerInner #line1 {
  width: 100%;
  max-width:1024px;
  margin: 0 auto;
  position: relative;
  height: 80px;
  display:table;
  overflow:hidden;
  border-spacing:0;
}
#header #headerInner #line1 p {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
#header #headerInner #line1 .logo {
	float:left;
	margin:13px 15px 0 0;
	/* [disabled]background-image: url(../img/logo.png); */
	width: 263px;
	height: 65px;
}
#header #headerInner #line1 .logo a {
	/* [disabled]display: block; */
	width: 263px;
	height: 65px;
	text-indent: -9999px;
	overflow: hidden;
}
#header #headerInner #line1 .freedial {
	float:left;
	margin:15px 16px 0 15px;
	/* [disabled]background-image: url(../img/head_freedial.png); */
	width: 171px;
	height: 39px;
	/* [disabled]text-indent: -9999px; */
	overflow: hidden;
}

#header #headerInner #line1 .btn {
	float:left;
	margin-top:8px;
}

#header #headerInner #line1 .subNav {
	float:left;
	margin-top:4px;
	margin-left:24px;
  width: 399px;
  overflow: hidden;
}
#header #headerInner #line1 .subNav li {
  float: left;
}
#header #headerInner #line1 .subNav li a {
	/* [disabled]display: block; */
	width: 199px;
	height: 55px;
	text-indent: -9999px;
	overflow: hidden;
}
#header #headerInner #line1 .subNav .m1 a {
	/* [disabled]background-image: url(../img/head_btn01.png); */
}
#header #headerInner #line1 .subNav .m1 a:hover {
  -moz-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
#header #headerInner #line1 .subNav .m2 a {
	/* [disabled]background-image: url(../img/head_btn02.png); */
}
#header #headerInner #line1 .subNav .m2 a:hover {
  -moz-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
#header #headerInner #line2 {
  width: 100%;
	max-width:1024px;
  margin: 0 auto;
  position: relative;
  height: 60px;
	display:table;
}
#header #headerInner #line2 li {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
#header #headerInner #line2 #globalNav {
  position: static;
	margin-left:38px;
}
#header #headerInner #line2 #globalNav ul {
  /*width: 657px;*/
}
#header #headerInner #line2 #globalNav ul li {
  float: left;
  height: 53px;
}
#header #headerInner #line2 #globalNav ul li img {
	padding-top: 17px;
}

#header #headerInner #line2 #globalNav ul li a {
	display: block;
	height: 53px;
}
#header #headerInner #line2 #globalNav ul li#current{
	border-top: 5px solid #EC3140;
	height: 50px;
}

#header #headerInner #line2 #globalNav ul li a:hover,
#header #headerInner #line2 #globalNav ul li a.active {
	border-top: 5px solid #EC3140;
	height: 50px;
}
#header #headerInner #line2 #globalNav ul li#current a:hover,
#header #headerInner #line2 #globalNav ul li#current a:active{
	border-top: none;
	height: 50px;
}


#header #headerInner #line2 #globalNav ul li a:hover img,
#header #headerInner #line2 #globalNav ul li a.active img,
#header #headerInner #line2 #globalNav ul li#current img {
    padding-top: 12px;
}
#header #headerInner #line2 #globalNav ul .m1 a {
	width: 210px;
}
#header #headerInner #line2 #globalNav ul .m1 a:hover,
#header #headerInner #line2 #globalNav ul .m1 a.active {
	/* [disabled]background-position: 0px -53px; */
}
#header #headerInner #line2 #globalNav ul .m2 a {
	width: 149px;
}
#header #headerInner #line2 #globalNav ul .m2 a:hover,
#header #headerInner #line2 #globalNav ul .m2 a.active {
	/* [disabled]background-position: -210px -53px; */
}
#header #headerInner #line2 #globalNav ul .m3 a {
	width: 99px;
}
#header #headerInner #line2 #globalNav ul .m3 a:hover,
#header #headerInner #line2 #globalNav ul .m3 a.active {
	/* [disabled]background-position: -359px -53px; */
}
#header #headerInner #line2 #globalNav ul .m4 a {
	width: 100px;
}
#header #headerInner #line2 #globalNav ul .m4 a:hover,
#header #headerInner #line2 #globalNav ul .m4 a.active {
	/* [disabled]background-position: -458px -53px; */
}
#header #headerInner #line2 #globalNav ul .m5 a {
	width: 99px;
}
#header #headerInner #line2 #globalNav ul .m5 a:hover,
#header #headerInner #line2 #globalNav ul .m5 a.active {
	/* [disabled]background-position: -558px -53px; */
}
#header #headerInner #line2 form {
	position:relative;
	float:left;
	margin-top:14px;
	margin-left:22px;
	width:280px;
	height:29px;
	display:block;
}
#header #headerInner #line2 form input[type="text"] {
  position: static;
  width: 231px;
  height: 27px;
  border: 1px solid #c6c6c6;
}
#header #headerInner #line2 form input[type="image"] {
  position:absolute;
	margin-left:3px;
  background-color: transparent;
  background-image: url(../img/search_btn.png);
  border: none !important;
  width: 42px;
  height: 29px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}

/*-----------------------------------------------------------
footer, #footerMenu
-------------------------------------------------------------*/
#footerMenu {
  clear: both;
 /*
  position: relative;
*/
  position: static;
  height: 145px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f0;
  width: 949px;
  margin: 0 auto;
  font-size: 92.85714285714286%;
  overflow: hidden;
  *border-left: 1px solid #ccc;
  *border-right: 1px solid #ccc;
  *background: #f5f5f0 url(../img/shadow01.png) repeat-x 0 35px;
}
#footerMenu h1 {
  background-color: #716a58;
  color: #fff;
  line-height: 35px;
  padding: 0 30px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0 0 29px;
}
#footerMenu .mainMenu {
  padding: 0 30px;
  overflow: hidden;
  margin: 0 0 10px;
}
#footerMenu .mainMenu li {
  float: left;
  background-image: url(../img/arrow01.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 33px 0 12px;
}
#footerMenu .mainMenu li a {
  color: #444;
}
#footerMenu .mainMenu li a:hover {
  text-decoration: underline;
}

#footerMenu .subMenu1 {
  width: 441px;
  height: 27px;
  padding: 12px 0 0;
  overflow: hidden;
  position: static;
/*
  position: absolute;
*/
  margin:0px 0 0 10px;
  bottom: 20px;
}

#footerMenu .subMenu2 {
  width: 441px;
  height: 27px;
  padding: 12px 0 0;
  overflow: hidden;
  position: static;
  margin:-39px 0px 0 480px;
  bottom: 20px;
}

#footerMenu .subMenu1 li,
#footerMenu .subMenu2 li {
  float: left;
  border-left: 1px solid #444;
  padding: 0 10px;
}
#footerMenu .subMenu1 li:first-child,
#footerMenu .subMenu2 li:first-child {
  border-left: none;
  padding: 0 10px 0 20px;
}
#footerMenu .subMenu1 li a,
#footerMenu .subMenu2 li a {
  color: #444;
  text-decoration: none;
}
#footerMenu .subMenu1 li a:hover,
#footerMenu .subMenu2 li a:hover {
  text-decoration: underline;
}
#footerMenu .subMenu1 {
  left: 30px;
  background-image: url(../img/service_menu_bg1.png);
}
#footerMenu .subMenu2 {
  left: 479px;
  background-image: url(../img/service_menu_bg2.png);
}
#footer {
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  background-image: url(../img/fotter_bg.png);
  background-repeat: no-repeat;
  background-position: 759px 5px;
  min-height: 128px;
  width: 949px;
  margin: 0 auto;
  *border-left: 1px solid #ccc;
  *border-right: 1px solid #ccc;
  *background: #ffffff url(../img/shadow01.png) repeat-x 0 top;
}
#footer .pmark {
	background-image: url(../img/p_mark.png);
	width: 61px;
	height: 66px;
	position: absolute;
	left: 23px;
	top: 25px;
}
#footer .pmark a {
  display: block;
  width: 61px;
  height: 66px;
  text-indent: -9999px;
  overflow: hidden;
}
#footer .pmark2 {
	width: 61px;
	height: 66px;
	position: absolute;
	left: 23px;
	top: 45px;
}

#footer .eco21 {
	background-image: url(../img/eco21.png);
	width: 67px;
	height: 66px;
	position: absolute;
	left: 94px;
	top: 31px;
}
#footer .eco21 a {
  display: block;
  width: 67px;
  height: 66px;
  text-indent: -9999px;
  overflow: hidden;
}
#footer .eco21_2 {
	width: 67px;
	height: 66px;
	position: absolute;
	left: 94px;
	top: 51px;
}
#footer .eco21_2 a {
  display: block;
  width: 67px;
  height: 66px;
}

#footer #fotterInner {
  padding: 4px 0 0 174px;
  font-size: 92.85714285714286%;
}
#footer .utility {
  overflow: hidden;
  margin: 0 0 10px;
  padding:20px 0 0 20px;
}
#footer .utility li {
  float: left;
  background-image: url(../img/arrow02.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 18px 0 10px;
}
#footer .utility li a {
  color: #444;
}
#footer .utility li a:hover {
  text-decoration: underline;
}
#footer #fotterInner address {
  margin: 0 0 10px;
  font-style: normal;
}
/*-----------------------------------------------------------
index
#serviceMenu,#mainvisual
-------------------------------------------------------------*/
#flashContent {
  position:static;
  top: 0;
  width: 100%;
  height: 344px;
}
#mainvisual {
  position: relative;
  margin: 0 auto;
  height: 137px;
  width: 1024px;
  padding: 0;
}
#mainvisual .catchcopy {
  text-indent: -9999px;
  overflow: hidden;
  height: 0;
}
#mainvisual ul {
  width: 959px;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url(../img/index_service_banner_bg.png);
  background-position: center 72px;
  background-repeat: no-repeat;
}
#mainvisual ul li {
  float: left;
}
#mainvisual ul li a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}
#mainvisual ul li a:hover {
  -moz-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
#mainvisual ul .m1,
#mainvisual ul .m2,
#mainvisual ul .m3 {
  width: 308px;
  height: 64px;
  margin-bottom: 15px;
}
#mainvisual ul .m1 a,
#mainvisual ul .m2 a,
#mainvisual ul .m3 a {
  width: 308px;
  height: 64px;
}
#mainvisual ul .m4,
#mainvisual ul .m5,
#mainvisual ul .m6 {
  width: 316px;
  height: 55px;
}
#mainvisual ul .m4 a,
#mainvisual ul .m5 a,
#mainvisual ul .m6 a {
  width: 316px;
  height: 55px;
}
#mainvisual ul .m1 {
  margin-left: 4px;
}
#mainvisual ul .m1 a {
  background-image: url(../img/index_service_banner01.png);
}
#mainvisual ul .m2 {
  margin-left: 11px;
}
#mainvisual ul .m2 a {
  background-image: url(../img/index_service_banner02.png);
}
#mainvisual ul .m3 {
  margin-left: 15px;
}
#mainvisual ul .m3 a {
  background-image: url(../img/index_service_banner03.png);
}
#mainvisual ul .m4 a {
  background-image: url(../img/index_service_banner04.png);
}
#mainvisual ul .m5 {
  margin-left: 4px;
}
#mainvisual ul .m5 a {
  background-image: url(../img/index_service_banner05.png);
}
#mainvisual ul .m6 {
  margin-left: 7px;
}
#mainvisual ul .m6 a {
  background-image: url(../img/index_service_banner06.png);
}

#mainvisual ul .m1 a.bgnon,
#mainvisual ul .m2 a.bgnon,
#mainvisual ul .m3 a.bgnon,
#mainvisual ul .m4 a.bgnon,
#mainvisual ul .m5 a.bgnon,
#mainvisual ul .m6 a.bgnon{
	background-image: none;
	overflow: visible;
	text-indent:inherit;
}


#serviceMenu {
  position: relative;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 950px;
  margin: 0 auto;
  padding: 9px 0 10px;
  background: #fff;
  *border: 1px solid #ccc;
  *border-bottom: none;
  *background: #ffffff url(../img/shadow01.png) repeat-x 0 bottom;
}
#serviceMenu .serviceTab {
  width: 970px;
  height: 45px;
  background-image: url(../img/index_service_menu.png);
  position: relative;
  left: -10px;
  margin: 0 0 7px;
}
#serviceMenu .serviceTab li {
  float: left;
  width: 497px;
}
#serviceMenu .serviceTab li span,
#serviceMenu .serviceTab li a {
  display: block;
  height: 45px;
  text-indent: -9999px;
  overflow: hidden;
}
#serviceMenu .serviceTab li:first-child {
  width: 473px;
}
#serviceMenu .serviceTab.tab2on {
  background-image: url(../img/index_service_menu2.png);
}
#serviceMenu .allLink {
  width: 291px;
  margin: -15px 0 0 18px;
}
#serviceMenu .allLink a {
  display: block;
  background: #feea9e url(../img/arrow01.png) no-repeat 21px center;
  padding: 5px 21px 5px 33px;
}
.topicsList dl {
  border-top: 1px solid #ccc;
  font-size: 92.85714285714286%;
  line-height: 20px;
  padding: 12px 0 0;
}
.topicsList dl dt {
  float: left;
  padding: 0 0 0 82px;
  font-weight: bold;
  clear: left;
}
.topicsList dl dt.cat1 {
  background: url(../img/topics_cat01.png) no-repeat 0 0;
}
.topicsList dl dt.cat2 {
  background: url(../img/topics_cat02.png) no-repeat 0 0;
}

/* add 20150213 */
.topicsList dl dt.cat1.bgnon,
.topicsList dl dt.cat2.bgnon{
	background-image: none;
}
.topicsList dl dt.cat1.bgnon img,
.topicsList dl dt.cat2.bgnon img{
	padding: 0 12px 0 0;
	vertical-align:middle;
	margin-bottom:0.1em;
}
.topicsList dl dt.bgnon {
  padding: 0 0 0 0;
}

/**/

.topicsList dl dd {
  border-bottom: 1px solid #ccc;
  padding: 0 25px 12px 206px;
  margin: 0 0 12px;
}
.topicsList2 dl {
  font-size: 92.85714285714286%;
  line-height: 20px;
  padding: 12px 0 0;
}
.topicsList2 dl dt {
  float: left;
  font-weight: bold;
  clear: left;
}
.topicsList2 dl dd {
  border-bottom: 1px solid #ccc;
  padding: 0 25px 12px 124px;
  margin: 0 0 12px;
}
h2 .topicsCat1 {
  display: block;
  background: url(../img/topics_cat01b.png) no-repeat 10em center;
}
h2 .topicsCat2 {
  display: block;
  background: url(../img/topics_cat02.png) no-repeat 5em center;
  padding: 0 82px 0 0;
}

.iconNLS {
  background: url(../img/icon_ntt_ls.png) no-repeat 0 0;
  padding: 0 0 0 26px;
  line-height: 21px;
}
.iconASS {
  background: url(../img/icon_associe.png) no-repeat 0 0;
  padding: 0 0 0 26px;
  line-height: 21px;
}
.indexTitleArea {
  position: relative;
  padding: 17px 0 0 15px;
}
.indexTitleArea p {
  display: inline-block;
  position: absolute;
  top: 35px;
  right: 28px;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
/*-----------------------------------------------------------
#breadcrumb
-------------------------------------------------------------*/
#breadcrumb ul {
  width: 910px;
  margin: 0 auto;
  padding: 10px 20px 15px;
}
#breadcrumb ul li {
  font-size: 92.85714285714286%;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
#breadcrumb ul li a {
  color: #444;
  text-decoration: underline;
}
#breadcrumb ul li a:hover {
  text-decoration: none;
}
/*-----------------------------------------------------------
content
-------------------------------------------------------------*/
.content {
  background-color: #fff;
  width: 630px;
  float: left;
}
.content .description {
  font-size: 92.85714285714286%;
  line-height: 20px;
  padding: 0px 30px 20px;
}
.content ol.company {
	background:none;
	padding:0;
}
.content ol.company>li {
	list-style-type:decimal;
}

.content .company_prof {
	position:relative;
}

.content .company_prof:after {
	content:"";
	display:block;
	clear:both;
}

.content .company_prof_left {
	position:relative;
	float:left;
	width:417px;
	font-size: 92.85714285714286%;
}

.content .company_prof_left dl {
	width: 357px;
}

.content .company_prof_left dt {
	float: left;
	width: 130px;
	padding-bottom: 5px;
	border-right: none;
}

.content .company_prof_left dd {
	float: left;
	width: 200px;
	padding-bottom: 5px;
}

.content .company_prof_right {
	float:left;
	width:60px;
	bottom:0;
	right:0;
	position:absolute;
}

.content .company_prof_left dd span.name {
    width: 5em;
    display: block;
    float: left;
}

/*-----------------------------------------------------------
pageHead
-------------------------------------------------------------*/
.pageHead {
  width: 630px;
  position: relative;
  margin: 0 0 20px;
}
.pageHead h1 {
  font-weight: bold;
  font-size: 171.42857142857142%;
  color: #eb6100;
  line-height: 24px;
  position: absolute;
}
.pageHead p {
  font-weight: bold;
  font-size: 114.28571428571428%;
  line-height: 30px;
  color: #666;
  position: absolute;
  top: 66px;
  left: 17px;
}
.pageHead.pageHead-hierarchical2 {
  height: 296px;
}
.pageHead.pageHead-hierarchical2 h1 {
  top: 12px;
  left: 27px;
}
.pageHead.pageHead-hierarchical3 {
  height: 206px;
}
.pageHead.pageHead-hierarchical3 h1 {
	top: 38px;
	left: 44px;
	line-height: 36px;
}

.pageHead.pageHead-bg-service11 h1 {
  display: none;
}

.pageHead.pageHead-hierarchical3 .parent {
  color: #eb6100;
  font-size: 100%;
  line-height: 24px;
  top: 5px;
  left: 25px;
}
.pageHead.pageHead-bg-concept {
  background: url(../img/page_head_concept.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-service {
  background: url(../img/page_head_service.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-service04 {
  background: url(../img/page_head_service04.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-service08 {
  background: url(../img/page_head_service08.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-service11 {
  background: url(../img/page_head_service11.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-case {
  background: url(../img/page_head_case.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-case01 {
  background: url(../img/page_head_case01.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-case02 {
  background: url(../img/page_head_case02.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-case03 {
  background: url(../img/page_head_case03.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-company {
  background: url(../img/page_head_company.png) no-repeat 0 0;
  height: 316px;
  margin: 0;
}
.pageHead.pageHead-bg-company h2 {
  position: absolute;
  color: #000;
  left: 29px;
  font-size: 171.42857142857142%;
  font-weight: bold;
  top: 60px;
}
.pageHead.pageHead-bg-company h3 {
  position: absolute;
  color: #000;
  left: 29px;
  font-size: 114.28571428571428%;
  font-weight: bold;
  top: 101px;
}
.pageHead.pageHead-bg-company p {
  color: #000;
  font-size: 92.85714285714286%;
  font-weight: normal;
  width: 370px;
  line-height: 20px;
  top: 135px;
  left: 29px;
}
.pageHead.pageHead-bg-company01 {
  background: url(../img/page_head_company01.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-company01 h1 {
  color: #000;
}
.pageHead.pageHead-bg-topics {
  background: url(../img/page_head_topics.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-topics01 {
  background: url(../img/page_head_topics01.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-club {
  background: url(../img/page_head_club.png) no-repeat 0 0;
  height: 316px;
}
.pageHead.pageHead-bg-club h1 {
  color: #3c8545;
}
.pageHead.pageHead-bg-club h2 {
  position: absolute;
  color: #fff;
  left: 29px;
  font-size: 171.42857142857142%;
  font-weight: bold;
  top: 90px;
}
.pageHead.pageHead-bg-club p.lead {
  color: #fff;
  font-size: 92.85714285714286%;
  font-weight: normal;
  width: 370px;
  line-height: 20px;
  top: 60px;
  left: 29px;
}
.pageHead.pageHead-bg-club p.bodycopy {
  color: #fff;
  font-size: 92.85714285714286%;
  font-weight: normal;
  width: 370px;
  line-height: 20px;
  top: 135px;
  left: 29px;
}

.pageHead.pageHead-bg-club01 {
  background: url(../img/page_head_club01.png) no-repeat 0 0;
}
.pageHead.pageHead-bg-club01 h1 {
  color: #fff;
}
.pageHead.pageHead-bg-club01 p.parent {
  color: #3c8545;
}
.pageHead.pageHead-bg-club01 p.bodycopy {
  color: #fff;
  font-size: 92.85714285714286%;
  font-weight: normal;
  width: 370px;
  line-height: 20px;
  top: 85px;
  left: 29px;
}
/*-----------------------------------------------------------
pageBody
-------------------------------------------------------------*/
.pageBody {
  padding: 0px 30px 20px ;
  line-height: 1.5;
}
.pageBody2 {
  padding: 0px 25px 20px 25px;
}
.pageBody2 a {
  text-decoration: underline;
}
.columns {
  overflow: hidden;
}
.columns.columns-2a .columns-child {
  float: left;
  width: 275px;
}
.columns.columns-2a .columns-child:first-child {
  margin: 0 20px 0 0;
}
.columns.columns-2b {
  width: 570px;
  border-bottom: 1px solid #ccc;
  padding: 0 0 18px;
  margin: 18px 0 0;
}
.columns.columns-2b .columns-child {
  float: left;
  width: 495px;
}
.columns.columns-2b .columns-child:first-child {
  width: 75px;
}
.columns.columns-2b.columns-noboader {
  border-bottom: none;
  padding: 0;
}
.columns.columns-2c {
  width: 570px;
}
.columns.columns-2c .columns-child {
  float: left;
  width: 242px;
}
.columns.columns-2c .columns-child:first-child {
  width: 328px;
}
.columns.columns-2d {
  width: 550px;
  padding: 0 0 22px 20px;
}
.columns.columns-2d .columns-child {
  float: left;
  width: 487px;
}
.columns.columns-2d .columns-child:first-child {
  width: 62px;
}
.columns.columns-2d.columns-noboader {
  border-bottom: none;
  padding: 0;
}
.columns.columns-2e {
  width: 280px;
  margin: 0 0 10px;
}
.columns.columns-2e .columns-child {
  float: left;
  width: 186px;
}
.columns.columns-2e .columns-child:first-child {
  width: 94px;
}
.columns.columns-2f {
  width: 579px;
  margin: 0 0 10px;
  padding: 10px 0 0;
}
.columns.columns-2f .columns-child {
  float: left;
  width: 270px;
}
.columns.columns-2f .columns-child:first-child {
  margin-right: 39px;
}
.columns.columns-2g .columns-child {
  float: left;
  width: 278px;
}
.columns.columns-2g .columns-child:first-child {
  width: 275px;
  margin: 0 17px 0 0;
}
.columns.columns-2h .columns-child {
  float: left;
  width: 380px;
  margin: 0;
}
.columns.columns-2h .columns-child:first-child {
  width: 170px;
  margin: 0 20px 0 0;
}
.columns.columns-2j .columns-child {
  float: left;
  width: 280px;
}
.columns.columns-2j .columns-child:first-child {
  margin: 0 20px 0 0;
}
.columns.columns-3a .columns-child {
  float: left;
  width: 270px;
  margin-left: 51px;
}
.columns.columns-3a .columns-child:first-child {
  margin-left: 18px;
}
/*-----------------------------------------------------------
departBanner
-------------------------------------------------------------*/
.departBanner {
  background-color: #f5f5f0;
  padding: 12px 5px;
}
.departBanner ul {
  *zoom: 1;
  overflow: hidden;
}
.departBanner ul:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
  overflow: hidden;
}
.departBanner ul li {
  width: 270px;
  height: 46px;
  float: left;
}
.departBanner ul li:first-child {
  margin-right: 20px;
}
.departBanner ul li a {
  display: block;
  width: 270px;
  height: 46px;
  text-indent: -9999px;
  overflow: hidden;
}
.departBanner ul li a:hover {
  -moz-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.departBanner ul .b01 a {
  background: url(../img/depart_banner01.png) no-repeat 0 0;
}
.departBanner ul .b02 a {
  background: url(../img/depart_banner02.png) no-repeat 0 0;
}
.departBanner ul .b03 a {
  background: url(../img/depart_banner03.png) no-repeat 0 0;
}
.departBanner ul .b04 a {
  background: url(../img/depart_banner04.png) no-repeat 0 0;
}
.departBanner ul .b05 a {
  background: url(../img/depart_banner05.png) no-repeat 0 0;
}
.departBanner ul .b06 a {
  background: url(../img/depart_banner06.png) no-repeat 0 0;
}
.departBanner ul .b07 a {
  background: url(../img/depart_banner07.png) no-repeat 0 0;
}
.departBanner ul .b08 a {
  background: url(../img/depart_banner08.png) no-repeat 0 0;
}
.departBanner ul .b09 a {
  background: url(../img/depart_banner09.png) no-repeat 0 0;
}
.departBanner ul .b10 a {
  background: url(../img/depart_banner10.png) no-repeat 0 0;
}
.departBanner ul .b11 {
  float: none;
  margin: 0 auto;
}
.departBanner ul .b11:first-child {
  margin-right: auto;
}
.departBanner ul .b11 a {
  background: url(../img/depart_banner11.png) no-repeat 0 0;
}
.departBanner ul .b12 a {
  background: url(../img/depart_banner12.png) no-repeat 0 0;
}
.departBanner ul .b13 a {
  background: url(../img/depart_banner13.png) no-repeat 0 0;
}
/* 20150213 */
.departBanner ul li a.bgnon{
  text-indent: inherit;
  background: none;
}


/**/ 
.departBanner span {
  color: #FF0000;
}
.departBanner.departBanner-nobg {
  background-color: none;
  padding: 0;
}
/*-----------------------------------------------------------
sidebar
-------------------------------------------------------------*/
.sidebar {
  background-color: #f3f2ee;
  width: 320px;
  float: right;
}
.sidebar .description {
  background: url(../img/shadow01.png) repeat-x 0 bottom;
  padding: 14px 14px 20px;
  margin: 0 0 12px;
}
.sidebar .description p {
  font-size: 92.85714285714286%;
}
.sidebar .subNav {
  padding: 30px;
}
.sidebar .caseList {
  padding: 0 20px 55px;
}
.nav01 li {
  font-weight: bold;
  font-size: 107.14285714285714%;
  line-height: 1.2;
  border-bottom: 1px solid #ccc;
}
.nav01 li a {
  display: block;
  background: url(../img/arrow03.png) no-repeat 0 1em;
  color: #666;
  padding: 12px 0 12px 23px;
}
.nav01 li a.active {
  color: #fff;
  background: #e60012 url(../img/arrow03.png) no-repeat 0 1em;
}

.nav01 li span {
	display:block;
	color: #fff;
  background: #e60012 url(../img/arrow03.png) no-repeat 0 1em;
	padding: 12px 0 12px 23px;
}
.nav01.club li a {
  background: url(../img/arrow09.png) no-repeat 0 1em;
}
.nav01.club li a.active {
  color: #fff;
  background: #3c8545 url(../img/arrow09.png) no-repeat 0 1em;
}

.nav01.club li span.active {
	display:block;
	color: #fff;
  background: #3c8545 url(../img/arrow09.png) no-repeat 0 1em;
	padding: 12px 0 12px 23px;
}

.nav01 li.active {
  display: block;
  background: #3c8545 url(../img/arrow09.png) no-repeat 0 1em;
  color: #fff;
  padding: 12px 0 12px 23px;
}



.nav02 {
  margin: 0 0 20px;
}
.nav02 li {
  margin: 6px 0 0;
  font-weight: normal;
  font-size: 92.85714285714286%;
  line-height: 16px;
  border-bottom: none;
}
.nav02 li a {
  padding: 0 0 0 12px;
  color: #444;
  text-decoration: none;
  background: url(../img/arrow01.png) no-repeat left 0.3em;
}
.nav02 li a:hover {
  text-decoration: underline;
}
.nav02 li.active {
  margin: 0 0 0 -7px;
  padding: 3px 3px 3px 19px;
}
.nav02 li.active a {
  color: #fff;
  background: #e60012 url(../img/arrow04.png) no-repeat 7px 0.4em;
}
.nav02.club li a {
  background: url(../img/arrow07.png) no-repeat left 0.3em;
}
.nav02.club li.active {
  padding: 0;
}
.nav02.club li.active a {
  /*color: #fff;*/
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  background: #51ae5d url(../img/arrow04.png) no-repeat 7px 0.7em;
}
/*-----------------------------------------------------------
hx style
-------------------------------------------------------------*/
.hStyle01 {
  background: url(../img/title_icon.png) no-repeat 0 0;
  line-height: 24px;
  padding: 8px 0 0 46px;
  min-height: 34px;
  font-size: 128.57142857142858%;
  font-weight: bold;
  color: #666;
  margin-bottom: 15px;
  margin-left: 22px;
  margin-right: 30px;
}
.hStyle01.club {
  background: url(../img/title_icon_club.png) no-repeat 0 0;
}
.hStyle02 {
  border-left: 5px solid #ff3939;
  background: url(../img/border_x01.png) no-repeat 0 bottom;
  font-size: 114.28571428571428%;
  font-weight: bold;
  padding: 3px 7px 5px;
  margin-bottom: 14px;
}
.hStyle02.club {
  border-left: 5px solid #51ae5d;
  background: url(../img/border_x01_club.png) no-repeat 0 bottom;
}
.hStyle03 {
  color: #fff;
  background-color: #666;
  font-weight: bold;
  font-size: 92.85714285714286%;
  padding: 3px 10px;
  margin-bottom: 12px;
}
.hStyle04 {
  font-weight: bold;
  font-size: 114.28571428571428%;
  line-height: 37px;
  margin-bottom: 20px;
  background: url(../img/sidebar_title_bg.png) no-repeat 0 center;
}


.hStyle04 a,
.hStyle04 span {
  display: block;
  background: url(../img/arrow06.png) no-repeat 0 center;
  padding: 0 0 0 26px;
  color: #666;
}
.hStyle04 a:hover {
  text-decoration: underline;
}
.hStyle04.hStyle04-active a {
  color: #fff;
  background-color: #e60012;
}
.hStyle04.hStyle04-active span {
  display: block;
  background: url(../img/arrow06.png) no-repeat 0 center;
  padding: 0 0 0 26px;
  color: #fff;
    background-color: #e60012;
}  

/* */

.hStyle04.club {
  background: url(../img/sidebar_title_bg_club.png) no-repeat 0 center;
}
.hStyle04.club a {
  background: url(../img/arrow08.png) no-repeat 0 center;
}
.hStyle04.club.hStyle04-active a {
  color: #fff;
  background-color: #3c8545;
}
.hStyle04.club.hStyle04-active span {
	display:block;
	color: #fff;
	background: url(../img/arrow08.png) no-repeat 0 center #3c8454;
}
.hStyle05 {
  font-weight: bold;
  font-size: 107.14285714285714%;
  line-height: 24px;
  margin-bottom: 20px;
}
.hStyle05 a {
  display: block;
  background: url(../img/arrow03.png) no-repeat 0 0.3em;
  color: #666;
  padding: 0 0 0 23px;
}
.hStyle06 {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: bold;
  font-size: 107.14285714285714%;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 12px 0;
}
.hStyle06 a {
  display: block;
  background: url(../img/arrow03.png) no-repeat 0 0.3em;
  color: #666;
  padding: 0 0 0 23px;
}
.hStyle06.boaderT0 {
  border-top: none;
}
.hStyle06.boaderB0 {
  border-bottom: none;
}
.hStyle07 {
  color: #eb6100;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
}
.hStyle08 {
  margin-bottom: 15px;
  height: 37px;
}
.hStyle08 a {
  background: url(../img/index_title_bg01.png) no-repeat 0 0;
  height: 37px;
  line-height: 37px;
  display: block;
  color: #444;
  font-size: 114.28571428571428%;
  font-weight: bold;
  padding-left: 25px;
}
.hStyle09 {
  text-align: center;
  color: #fff;
  background-color: #79378e;
  font-weight: bold;
  line-height: 30px;
  font-size: 114.28571428571428%;
  margin-bottom: 25px;
}
.hStyle10 {
  text-align: center;
  color: #fff;
  background-color: #125880;
  font-weight: bold;
  line-height: 30px;
  font-size: 114.28571428571428%;
  margin-bottom: 25px;
}
.hStyle11 {
  font-weight: bold;
  margin-bottom: 5px;
}
.hStyle12 {
  background: url(../img/title_bg.png) no-repeat 0 0;
  line-height: 26px;
  height: 28px;
  padding: 0 0 0 30px;
  color: #333;
  font-weight: bold;
  margin: 0 0 10px;
}
.hStyle12.club {
  background: url(../img/title_bg_club.png) no-repeat 0 0;
}
.hStyle12.line2 {
  line-height: 20px;
  padding: 0 0 20px 30px;
  background: url(../img/title_bg_club.png) no-repeat 0 bottom;
}
.hStyle13 {
  color: #0078b9;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
}

/*-----------------------------------------------------------
totop
-------------------------------------------------------------*/
.totop {
  text-align: right;
  padding: 0 20px 20px;
}
.totop a {
  display: inline-block;
  font-size: 92.85714285714286%;
  background: url(../img/arrow05.png) no-repeat 0 center;
  padding: 0 0 0 10px;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
/*-----------------------------------------------------------
list style
-------------------------------------------------------------*/
.listStyle01 {
  margin: 0 0 20px;
}
.listStyle01 li {
  background: url(../img/arrow01.png) no-repeat left 0.3em;
  padding: 0 0 0 12px;
  margin: 6px 0 0;
}
.listStyle01 li:first-child {
  margin: 0;
}
.listStyle01 li a {
  font-size: 92.85714285714286%;
  line-height: 16px;
  color: #444;
  text-decoration: none;
}
.listStyle01 li a:hover {
  text-decoration: underline;
}
.listStyle01 li.active {
  background: #e60012 url(../img/arrow04.png) no-repeat 7px 0.4em;
  margin: 0 0 0 -7px;
  padding: 3px 3px 3px 19px;
}
.listStyle01 li.active a {
  color: #fff;
}
.listStyle02 li {
  background: url(../img/dot01.png) no-repeat left 0.3em;
  padding: 0 0 0 12px;
  margin: 0 10px 0 0;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  white-space: nowrap;
}
.listStyle02 li:first-child {
  margin: 0;
}
.listStyle03 {
  padding: 0 0 0 30px;
}
.listStyle03 li {
  list-style-type: disc;
  list-style-position: outside;
  margin: 6px 0 0;
}
.listStyle03 li:first-child {
  margin: 0;
}
.listStyle04 li {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 107.14285714285714%;
  line-height: 1.2;
}
.listStyle04 li a {
  display: block;
  background: url(../img/arrow03.png) no-repeat 0 1em;
  color: #666;
  padding: 12px 0 12px 23px;
}
.listStyle04 li.active a {
  color: #fff;
  background: #e60012 url(../img/arrow03.png) no-repeat 0 1em;
}
.listStyle04 li.active.active2 {
  color: #fff;
  background: #e60012 url(../img/arrow03.png) no-repeat 0 1em;
  display: block;
  padding: 12px 0 12px 23px;
}
.listStyle04 li.active a:hover {
  text-decoration: none;
}
/*20150209 add*/
.listStyle05 li {
  background: url(../img/dot01.png) no-repeat left 0.6em;
  padding: 0 0 0 12px;
  margin: 0 10px 0 0;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  white-space: nowrap;
}
.listStyle05 li:first-child {
  margin: 0;
}
/* privacy */
ul.privacyList li {
  list-style: disc;
  margin-left: 1.5em;
  margin-bottom: 10px;
}
ol.privacyList li {
  list-style: decimal;
  margin-left: 1.5em;
  margin-bottom: 10px;
}
ol.privacyList li li {
  list-style: none;
  margin-left: 0;
  margin-bottom: 5px;
}
/*-----------------------------------------------------------
table style
-------------------------------------------------------------*/
.tableStyle01 {
  width: 100%;
}
.tableStyle01 th {
  background-color: #a7a59d;
  color: #fff;
  padding: 15px 10px;
}
.tableStyle01 td {
  background-color: #f3f2ee;
  padding: 15px 10px;
}
.tableStyle02 {
  border-top: 1px solid #ccc;
}
.tableStyle02 th,
.tableStyle02 td {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 92.85714285714286%;
  border-right: 1px solid #ccc;
}
.tableStyle02 th {
  width: 90px;
  background-color: #f3f2ee;
}

.tableStyle02 th.check_mark {
  background-color: #fae6ee;
}

.tableStyle02 td.check_mark {
  background-color: #fef6f9;
}

.tableStyle02 th.notice {
  width: 100%;
}

.tableStyle02 td.submit_btn {
  border-bottom: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-right: 0px solid #ccc;
 }


.tableStyle02.width100p {
  width: 100%;
}
.tableStyle02 input[type="text"] {
  width: 250px;
}
.tableStyle03 {
  width: 417px;
}
.tableStyle03 th,
.tableStyle03 td {
  padding: 0;
  border-bottom: none;
  border-left: none;
  font-size: 92.85714285714286%;
  border-right: none;
}
.tableStyle03 dt {
  float: left;
  width: 130px;
  padding-bottom: 5px;
  border-right: none;
}
.tableStyle03 dd {
  float: left;
  width: 130px;
  padding-bottom: 5px;
}
.tableStyle04 {
  border-top: 1px solid #ccc;
}
.tableStyle04 th,
.tableStyle04 td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 92.85714285714286%;
  border-right: 1px solid #ccc;
}
.tableStyle04 th {
  background-color: #f3f2ee;
}

.tableStyle04 th.check_mark {
  background-color: #fae6ee;
}

.tableStyle04 td.check_mark {
  background-color: #fef6f9;
}

.tableStyle04 th.notice {
  width: 100%;
}

.tableStyle04 td.submit_btn {
  border-bottom: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-right: 0px solid #ccc;
 }


.tableStyle04.width100p {
  width: 100%;
}
.tableStyle04 input[type="text"] {
  width: 250px;
}
.seminarArea img {
  max-width: 570px;
  height: auto;
}
.seminarArea table {
  width: 100%;
  border-top: 1px solid #a7a59d;
  margin: 0 0 30px;
  font-size: 92.85714285714286%;
}
.seminarArea table th {
  background-color: #f3f2ee;
  padding: 15px 10px;
  border-bottom: 1px solid #a7a59d;
}
.seminarArea table td {
  background-color: #fff;
  padding: 15px 10px;
  border-bottom: 1px solid #a7a59d;
}
.seminarArea .contactArea {
  background: #f9f1d1;
  border: 1px solid #f5b284;
}
.seminarArea .contactArea .contactAreaInner {
  border: 1px solid #fff;
  padding: 10px 15px;
}
.seminarArea .contactArea .contactAreaInner h3 {
  color: #28688c;
  border-bottom: 1px solid #e3d7a5;
  text-align: center;
  font-size: 128.57142857142858%;
  font-weight: bold;
  margin: 0 0 10px;
}
.seminarArea .contactArea .contactAreaInner h3 span {
  border-bottom: 1px solid #fdf9ed;
}
.seminarArea .contactArea .contactAreaInner a {
  color: #28688c;
}
/*-----------------------------------------------------------
dl style
-------------------------------------------------------------*/
.dlStyle01,
.dlStyle02 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.dlStyle01 dt,
.dlStyle02 dt {
  width: 250px;
  float: left;
  padding-bottom: 5px;
}
.dlStyle01 dd,
.dlStyle02 dd {
  float: left;
  padding-bottom: 5px;
}
.dlStyle01 {
  padding: 15px 60px;
}
.dlStyle02 {
  padding: 15px 30px;
}

dlStyle01 dt.ninka{
  width: 100px;
 }
.dlStyle01 dd.ninka{
	width:200px;
}

/*-----------------------------------------------------------
other style
-------------------------------------------------------------*/
.icon-blank {
  background: url(../img/icon_blank.png) no-repeat left 0.4em !important;
}
.bkg_img_none{
	background-image: none !important;
}
.win_open{
	border:none;
	vertical-align:middle;
	margin: 0 0.3em 0.1em -1em;
}
.textLink a {
  text-decoration: underline;
}
.textLink a:hover {
  text-decoration: none;
}
.linkIcon1 {
  background: url(../img/arrow01.png) no-repeat left 0.3em;
  padding: 0 0 0 12px;
}
.linkIcon2 {
  text-align: right;
  padding: 0 0 20px;
}
.linkIcon2 a {
  display: inline-block;
  font-size: 92.85714285714286%;
  background: url(../img/arrow01.png) no-repeat left 0.3em;
  padding: 0 0 0 12px;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
.linkIcon2.club a {
  background: url(../img/arrow07.png) no-repeat left 0.3em;
}
.faqQuestion {
  background: url(../img/faq_icon_q.png) no-repeat 0 0;
  font-size: 114.28571428571428%;
  min-height: 25px;
  font-weight: bold;
  padding: 5px 0 0 35px;
  margin: 0 0 14px;
  display: block;
}
.faqAnswer {
  background: url(../img/faq_icon_a.png) no-repeat 0 0;
  padding: 0 0 20px 35px;
  min-height: 25px;
  margin: 0 0 20px;
  border-bottom: 1px solid #ccc;
}
/**/
.faqQuestion.type2 {
	background: none;
	font-size: 114.28571428571428%;
	min-height: 25px;
	font-weight: bold;
	margin: 0 0 14px;
	display: block;
	padding: 0;
}
.faqQuestion.type2 img{
	padding: 0 22px 0 0;
}
.faqQuestion.type2 span {
	display:block;
	margin: -25px 0 0 0;
	padding-left: 38px;
}
.faqAnswer.type2 {
	padding: 0 0 20px 0;
	min-height: 25px;
	margin: 0 0 20px;
	border-bottom: 1px solid #ccc;
}
.faqAnswer.type2 img{
	padding: 0 10px 0 0;
}
.faqAnswer.type2 p {
	margin: -25px 0 0 0;
	padding-left: 38px;
}
/**/
.groupTitle {
  font-weight: bold;
  font-size: 114.286%;
  line-height: 37px;
  margin-bottom: 20px;
}
.groupTitle a {
  display: block;
  background: url(../img/arrow06.png) no-repeat left center;
  color: #666;
  padding: 0 0 0 26px;
}
.grouptxt {
  margin-bottom: 15px;
  padding-left: 23px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}
img.rollover:hover,
a.rollover:hover {
  -moz-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
a.anchor {
  display: block;
  margin-top: -125px;
  padding-top: 125px;
}
.company {
  margin: 0 30px 20px;
  padding: 20px;
  background-color: #F3F2EE;
}
.company h2 {
  font-size: 128.571%;
  font-weight: bold;
  margin-bottom: 10px;
}
.company table {
  width: 100%;
}
.company table td {
  text-align: center;
  vertical-align: bottom;
}
.company table td.name {
  padding-top: 5px;
}
.textc-r {
  color: #cc0000;
}


#msgtit,
#msgsub,
.errTxt {
  color: #cc0000;
  font-weight: bold;
}
.msgsub{
	padding: 5px 0;
}
.blank {
  background-color: #fff !important;
  border-left: none !important;
  border-right: none !important;
}
.blank2 {
  background-color: #fff !important;
  border: none !important;
}
form .width100 {
  width: 100%;
}
form .width90 {
  width: 90%;
}
.posLtv {
  width: 570px;
  position: relative;
}
.btnDetail {
  position: absolute;
  top: 47px;
  right: 44px;
}
.btnDetail2 {
  position: absolute;
  top: 0px;
  right: 44px;
}
#pop {
  width: 620px;
  margin: 20px auto;
}
#pop .tableStyle02 th {
  width: 80px;
}
#pop .tableStyle02 a {
  text-decoration: underline;
}
#pop .tableStyle03 {
  width: auto;
}

.associe_color{
	color: #3c8454;
}
/*-----------------------------------------------------------
old style / topics, seminarArea
-------------------------------------------------------------*/
/* CSS Document */
.seminarArea {
  /* Mail Magazine */
  /* 201403*/
  /* ---------------------------------
  Mergin & Padding
  ----------------------------------- */
  /* ---------------------------------
  position
  ----------------------------------- */
}
.seminarArea .magr10 {
  margin-right: 10px;
}
.seminarArea .textc-r {
  color: #FF3333;
}
.seminarArea .seminar-inq {
  width: 658px;
  border: 1px solid #CCCCCC;
  height: 51px;
}
.seminarArea .inq-top {
  margin-top: 9px;
}
.seminarArea .inq-top2 {
  margin-top: 3px;
  line-height: 1.3;
}
.seminarArea .textreg2 .flL li {
  float: left;
  width: 315px;
  margin-top: 0px;
  line-height: 1.3em;
  margin-bottom: 0px;
}
.seminarArea .textreg2 .flR {
  float: right;
  width: 315px;
  margin-top: 0px;
  line-height: 1.3em;
  margin-bottom: 0px;
}
.seminarArea .text_logo {
  font-size: 10px;
  line-height: 120%;
  color: #666666;
}
.seminarArea .padtb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.seminarArea .form_logobox {
  width: 300px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}
.seminarArea .formbox {
  margin-top: 15px;
  margin-bottom: 50px;
}
.seminarArea .magtb60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.seminarArea .text14b {
  font-size: 14px;
  font-weight: bold;
}
.seminarArea .text_logo {
  font-size: 10px;
  line-height: 120%;
  color: #666666;
}
.seminarArea .fonts {
  font-size: 10px;
}
.seminarArea .fonts16 {
  font-size: 16px;
}
.seminarArea .care ul li {
  margin: 0px 0px 4px 0px;
  padding: 0px;
}
.seminarArea #pop {
  width: 650px;
}
.seminarArea #pop .pop-tex {
  width: 590px;
  margin: 0px auto;
}
.seminarArea #pop .pop-tex p {
  line-height: 150%;
  font-size: 14px;
  margin-left: 10px;
}
.seminarArea #pop .care {
  width: 590px;
  padding: 0px 0px 0px 60px;
}
.seminarArea #pop .care ul li {
  margin: 0px 0px 4px 0px;
  padding: 0px;
  text-indent: -25px;
  line-height: 140%;
}
.seminarArea #pop sup {
  font-size: 10px;
}
.seminarArea .fontb {
  font-weight: bold;
}
.seminarArea h3,
.seminarArea h4 {
  font-size: 105%;
  font-weight: bold;
  color: #000;
  padding: 0 0 10px 0;
}
.seminarArea h3.hStyle02,
.seminarArea h4.hStyle02 {
  border-left: 5px solid #ff3939;
  background: url(../img/border_x01.png) no-repeat 0 bottom;
  font-size: 114.28571428571428%;
  font-weight: bold;
  padding: 3px 7px 5px;
  margin-bottom: 14px;
}
.seminarArea h3.hStyle02.club,
.seminarArea h4.hStyle02.club {
  border-left: 5px solid #51ae5d;
  background: url(../img/border_x01_club.png) no-repeat 0 bottom;
}
.seminarArea h4.blue {
  clear: both;
  margin-bottom: 10px;
  color: #187AC7;
}
.seminarArea h4.red {
  clear: both;
  margin-bottom: 10px;
  color: #C00745;
}
.seminarArea .textbox .pic_l {
  float: left;
  width: 450px;
  padding-bottom: 20px;
}
.seminarArea .textbox .text_r {
  float: right;
  width: 190px;
}
.seminarArea .textbox .pic_r {
  float: right;
  width: 250px;
}
.seminarArea .textbox .text_l {
  float: left;
  width: 390px;
}
.seminarArea .textbox p {
  text-indent: 1em;
}
.seminarArea .magt10 {
  margin-top: 10px;
}
.seminarArea .magt20 {
  margin-top: 20px;
}
.seminarArea .magb5 {
  margin-bottom: 5px;
}
.seminarArea .magb10 {
  margin-bottom: 10px;
}
.seminarArea .magb20 {
  margin-bottom: 20px;
}
.seminarArea .magb30 {
  margin-bottom: 20px;
}
.seminarArea .magb40 {
  margin-bottom: 40px;
}
.seminarArea .magb60 {
  margin-bottom: 60px;
}
.seminarArea .magl10 {
  margin-left: 10px;
}
.seminarArea .magl30 {
  margin-left: 30px;
}
.seminarArea .magtb5 {
  margin: 5px 0px;
}
.seminarArea .magt5 {
  margin-top: 5px;
}
.seminarArea .magb5 {
  margin-bottom: 5px;
}
.seminarArea .magtb10 {
  margin: 10px 0px;
}
.seminarArea .magtb15 {
  margin: 15px 0px;
}
.seminarArea .magtb20 {
  margin: 20px 0px;
}
.seminarArea .magtb30 {
  margin: 30px 0px;
}
.seminarArea .magt30 {
  margin-top: 30px;
}
.seminarArea .magr60 {
  margin-right: 60px;
}
.seminarArea .magrl15 {
  margin-right: 15px;
  margin-left: 15px;
}
.seminarArea .padb10 {
  padding-bottom: 10px;
}
.seminarArea .padl10 {
  padding-left: 10px;
}
.seminarArea .padl20 {
  padding-left: 20px;
}
.seminarArea .padl35 {
  padding-left: 35px;
}
.seminarArea .flL {
  float: left;
  width: 315px;
}
.seminarArea .flR {
  float: right;
  width: 315px;
}
.seminarArea .padtop {
  margin-top: 50px;
}
.seminarArea .aln_l {
  text-align: left;
}
.seminarArea .aln_c {
  text-align: center;
}
.seminarArea .aln_r {
  text-align: right;
}
.seminarArea .tb-noborder table,
.seminarArea .tb-noborder td {
  border-style: none;
  padding: 0;
}
.seminarArea .keynote {
  *zoom: 1;
  overflow: hidden;
  padding-bottom: 10px;
}
.seminarArea .keynote:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
  overflow: hidden;
}
.seminarArea .keynote .img {
  float: left;
}
.seminarArea .keynote .title {
  float: right;
  width: 316px;
  padding-bottom: 25px;
  font-weight: bold;
}
.seminarArea .keynote .title span {
  font-weight: normal;
}
.seminarArea .keynote .name {
  float: right;
  width: 316px;
}
.seminarArea .keynote .name span {
  font-weight: bold;
}
/*-----------------------------------------------------------
Temporary
-------------------------------------------------------------*/
/* ------------------------------------------------------------
SkipNav
------------------------------------------------------------ */
div#SkipNav {
	z-index: 9999;
	overflow: visible;
	margin: 0;
	padding: 0;
	width: 100%;
	
	position:fixed;
	top: 0px;
}
div#SkipNav ul{
	padding:0;
	margin: -1px auto 0 auto;
	min-width: 980px;
	background: #666666;
	text-align: center;
	height: 1px;
	overflow: hidden;
}
div#SkipNav ul.show{
	padding:5px 0;
	height:2em;
}
div#SkipNav ul li{
	display:inline;
	padding:0 10px;
}
div#SkipNav a {
	padding: 0;
	width: 100%;
	color: #ffffff;
	font-size: 1px;
	color: #666666;
	line-height: 0;
	cursor: default;
}
div#SkipNav ul.show a {
	color: #ffffff;
	margin-top: 0;
	font-size: 100%;
	line-height: 1;
	cursor: pointer;
}
/**/
/* ------------------------------------------------------------
▼PreContent
------------------------------------------------------------ */
/* AccessKeyArea, accessKeyDest */
#AccessKeyArea,
.accessKeyDest {
	display: block;
	margin:0;
	border: none;
	padding: 0;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

/* NoScriptWarning */
#NoScriptWarning {
	/* [disabled]position: relative; */
	border: 1px solid #f00;
	padding: 10px;
	background: #fff;
	color: #f00;
	text-align: center;
	z-index: 99999;
	/* [disabled]margin-bottom: 50px; */
	width:100%;
	position: fixed;
	top: 0px;
	z-index: 100;
 }
/**/

/* other */
.dispnone{
	display:none;
}
.ft130par{
	font-size: 130% !important;
}

/**/


/* $menu-tab -------------------- */
.menu-tab {
	position: relative;
	margin-left: -10px;
	padding-top: 35px;
	cursor:pointer;
}

.menu-tab > dt {
	position: absolute;
	top: 0;
	left:1px;
	width:485px;
}

.menu-tab > dd {
	display: none;
}

.business-area,
.subject {
	margin-top:18px;
	margin-left:14px;
}

.menu-tab > dt#tab2 {
	left:486px;
}

.menu-tab .business-area {
	min-height:170px;
}

/* 201506 NTTLS -------------------- */

.fW_b {
	font-weight:bold;
}