@charset "utf-8";


.p-style{
}
.p-mv{
	background: #e84e13;
}
.p-mv-inner{
	background: url(../images/mv.jpg) center top no-repeat;
	height: 517px;
}
.p-presentLine{
	background: #f9c03c;
}
.p-presentLine-inner{
	width: 1200px;
	margin: 0 auto;
	background: url(../images/bg_01.png) no-repeat;
	height: 137px;
}
.p-presentLine-inner p{
	float: right;
	margin: 15px 100px 0 0;
}
.p-nav li{
	float: left;
	margin-right: 2px;
}
.p-nav li:last-child{
	margin-right: 0;
}
.p-nav-inner{
	width: 998px;
	margin: 40px auto 40px;
}
.p-nav-bm{
	margin-bottom: 0px;
}
.p-article{
	width: 1200px;
	margin: 40px auto 0;
}
.p-article-detail{
	width: 1000px;
	margin: 0 auto 50px;
}
.p-present{
	background: url(../images/bg_02.jpg) repeat-x;
}
.p-present-inner {
	width: 1200px;
	height: 662px;
	margin: 0 auto;
	position: relative;
}
.p-present-inner-btn{
	width: 598px;
	height: 150px;
	position: absolute;
	bottom: 60px;
	right: 120px;
}
.p-webInquiry{
	background: url(../images/bg_03.jpg) repeat-x;
}
.p-webInquiry-inner{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.p-webInquiry-inner-btn{
	position: absolute;
	bottom: 40px;
	right: 100px;
}
.p-trouble{
	background: url(../images/bg_04.jpg) repeat-x;
	height: 837px;
}
.p-trouble-inner{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.p-trouble-inner-btn{
	position: absolute;
	top: 10px;
	right: 10px;
}
.p-presentLine-02{
	background: url(../images/bg_05.jpg) repeat-x;
	height: 116px;
}
.p-presentLine-02-inner{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.p-presentLine-02-inner-btn{
	position: absolute;
	top: 15px;
	right: 100px;
}
.p-Case{
	background: url(../images/bg_06.jpg) repeat-x;
	height: 1238px;
}
.p-Case-inner{
	width: 1200px;
	margin: 0 auto;
}
.p-line{
	background: url(../images/bg_07.jpg) repeat-x;
	height: 142px;
	margin-bottom: 1px;
}
.p-line p{
	text-align: center;
}