@charset "utf-8";


.p-style{
}
.p-mv{
	background: #55b43d;
}
.p-mv-inner{
	background: url(../images/mv.jpg) center top no-repeat;
	height: 517px;
}
.p-presentLine{
	background: #f0e5ff;
}
.p-presentLine-inner{
	width: 1200px;
	margin: 0 auto;
	background: url(../images/bg_01.png) no-repeat;
	height: 137px;
}
.p-presentLine-inner p{
	float: right;
	margin: 15px 100px 0 0;
}

/*
.p-nav {
  padding-left: 200px;
}
*/

.p-nav li{
	float: left;
	margin-right: 2px;
}
.p-nav li:last-child{
	margin-right: 0;
}
.p-nav-inner{
	width: 998px;
	margin: 40px auto 40px;
}
.p-nav-bm{
	margin-bottom: 0px;
}
.p-article{
	width: 1200px;
	margin: 40px auto 0;
}
.p-article-detail{
	width: 1000px;
	margin: 0 auto 50px;
}
.p-present{
	background: url(../images/bg_02.jpg) repeat-x;
}
.p-present-inner {
	width: 1200px;
	height: 662px;
	margin: 0 auto;
	position: relative;
}
.p-present-inner-btn{
	width: 598px;
	height: 150px;
	position: absolute;
	bottom: 60px;
	right: 120px;
}
.p-webInquiry{
	/* background: url(../images/bg_03.jpg) repeat-x; */
  background-color: #f0e5ff;
  border-top: 1px solid #fff;
}
.p-webInquiry-inner{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.p-webInquiry-inner-btn{
	position: absolute;
	bottom: 40px;
	right: 100px;
}
.p-trouble{
	background: url(../images/bg_green.jpg) center center;
  background-color: #f4faf0;
	/* height: 869px; */
}
.p-trouble h2 {
  background-color: #55b43d;
	height: 99px;
  text-align: center;
}
.p-trouble-inner{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.p-trouble-inner-btn{
	position: absolute;
	top: 10px;
	right: 10px;
}
.p-presentLine-02{
	/* background: url(../images/bg_05.jpg) repeat-x; */
  background-color: #175399;
	height: 116px;
}
.p-presentLine-02-inner{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.p-presentLine-02-inner-btn{
	position: absolute;
	top: 15px;
	right: 100px;
}
.p-Case{
  padding-bottom: 30px;
	background: url(../images/bg_green.jpg) center center;
  background-color: #f4faf0;
	/*height: 1238px;*/
}
.p-Case h2 {
  background-color: #55b43d;
	height: 220px;
  text-align: center;
}
.p-Case-inner{
	width: 1200px;
	margin: 0 auto;
}
.p-line{
	/* background: url(../images/bg_07.jpg) repeat-x; */
  background-color: #fd9501;
  background-color: #feea8b;
	height: 142px;
	margin-bottom: 1px;
}
.p-line p{
  width: 1200px;
  margin: 0 auto;
	text-align: center;
  position: relative;
}
.p-line p img.woman{
  position: absolute;
  bottom: -1px;
  left: 230px;
}