/* concept.css
--------------------------------------------------------------------*/
/* common */
#content {
	background-color: #fff;
}
#content .container {
	width: 100%;
	padding: 0;
}
.breadcrumb {
	background-color: #f6f6f6;
}
.wrap {
	width: 800px;
	margin: auto;
}
#concept {
	font-size: 16px;
	line-height: 1.5;
}
#concept .pc{
	display: block;
}
#concept .sp{
	display: none;
}
#concept img{
	max-width: 100%;
}
#concept .btn-scroll {
	width: 60px;
	margin: 30px auto 0;
}
#concept .btn-scroll01 {
	height: 53px;
}
#concept .btn-scroll02 {
	height: 28px;
	margin-top: 35px;
}
#concept #main-area p {
	margin-bottom: 0;
	padding-right:50px;
	padding-left:50px;
}
#concept .contents-area {
	margin-bottom: 40px;
	padding-top: 70px;
	background-color: #fff;
	background: -moz-linear-gradient(top, #d8f5f9, #fff);
	background: -webkit-gradient(linear, left top, left bottom, from(#d8f5f9), to(#fff));
	background: -ms-linear-gradient(top, #d8f5f9, #fff);
	background-size: 100% 250px;
	background-repeat: no-repeat;
}
#concept .contents-area h3 {
	margin: 0 0 30px;
	font-size: 40px;
	color: #004f91;
	text-align: center;
}
#concept figure {
	position: relative;
	overflow: hidden;
}
#concept figcaption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
}
#concept figure:hover figcaption {
	opacity: 1;
}

/* main-img */
#concept .main-img {
	margin-bottom: 40px;
}
#concept .main-img h2 {
	margin: 20px auto 25px;
	padding-bottom: 120px;
	background: url(../img/concept_img01.png) no-repeat center bottom;
	background-size: 100%;
}
/* concept_01 */
#concept_01 .piece{
	position: relative;
	width: 700px;
	height: 520px;
	margin: 60px auto 35px;
	padding: 0;
}
#concept_01 .piece figure {
	position: absolute;
}
#concept_01 .piece01 {
	top:0;
	left:50%;
	transform: translateX(-50%);
}
#concept_01 .piece02 {
	bottom:0;
	left:50%;
	transform: translateX(-50%);
}
#concept_01 .piece03 {
	top:50%;
	left:25px;
	transform: translateY(-50%);
}
#concept_01 .piece04 {
	top:53%;
	right:10px;
	transform: translateY(-50%);
}
/* concept_02 */
#concept_02 .contents-block {
	margin: 25px 40px 0;
	padding: 5px 35px 20px;
	border-radius: 4px;
	text-align: center;
}
#concept_02 .contents-box {
	display: flex;
	justify-content:space-between;
}
#concept_02 .contents-block dl {
	width: 210px;
	padding: 20px 0;
	margin: 0;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center 60px;
}
#concept_02 .contents-block dt {
	margin-bottom: 65px;
	font-size: 18px;
}
#concept_02 .contents-block h4 {
	font-size: 20px;
	font-weight: bold;
}
#concept_02 .contents-block01 {
	position: relative;
	margin-bottom: 100px;
	background: #8accf4;
}
#concept_02 .contents-block01:after {
	content: '';
	width: 150px;
	height: 92px;
	position: absolute;
	top:100%;
	left:50%;
	transform: translateX(-50%);
	background: url(../img/concept_img02.png) no-repeat center bottom;
	background-size: 100%;
}
#concept_02 .contents-block01 h4 {
	color: #0062b0;
}
#concept_02 .contents-block01 dl {
	background-color: #e1f4ff;
	background-image: url(../img/concept_img03.png);
}
#concept_02 .contents-block02 {
	background: #f5fee8;
}
#concept_02 .contents-block02 h4 {
	color: #659323;
}
#concept_02 .contents-block02 dl:nth-child(1) {
	background-color: #d0f4dd;
	background-image: url(../img/concept_img04.png);
}
#concept_02 .contents-block02 dl:nth-child(2) {
	background-color: #cdeaf1;
	background-image: url(../img/concept_img05.png);
}
#concept_02 .contents-block02 dl:nth-child(3) {
	background-color:#fee9e9;
	background-image: url(../img/concept_img06.png);
}

/* concept_03 */
#concept_03 p.ahead {
	margin-top: -20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
#concept_03 .txt {
	margin: 25px 15px 0;
	padding: 0 10px 110px;
	font-size: 20px;
	background: url(../img/concept_img01.png) no-repeat center bottom;
	background-size: 100%;
}

/* concept_04 */
#concept_04 .contents-block {
	position: relative;
	margin-top: 45px;
	padding-top: 45px;
}
#concept_04 .flame {
	height: 720px;
	padding-top: 15px;
	border-width: 2px;
	border-style: solid;
	text-align: center;
}
#concept_04 .flame h4 {
	margin:0;
	font-size: 15px;
	font-weight: bold;
}
#concept_04 .flame.consul {
	position: absolute;
	top: 0;
	left: 190px;
	width: 260px;
	color: #348ed4;
	border-color: #6bb2ea;
	z-index: 1;
}
#concept_04 .flame.solution {
	position: absolute;
	top: 0;
	right: 10px;
	width: 290px;
	color: #df8108;
	border-color: #f3b35f;
}
#concept_04 .contents-box {
	display: flex;
}
#concept_04 .contents-box dd {
	padding: 25px 10px;
}
#concept_04 .contents-box .piece {
	position: relative;
	width: 190px;
}
#concept_04 .contents-box .piece05,
#concept_04 .contents-box .piece06,
#concept_04 .contents-box .piece07 {
	position: absolute;
	top:50%;
	transform:translateY(-50%);
}
#concept_04 .contents-box ul {
	padding-left: 20px;
	margin-left: 0;
	margin-bottom: 0;
	list-style: disc;
	line-height: 1.7;
	font-size: 14px;
}
#concept_04 .contents-box span {
	color: #333;
}
#concept_04 .contents-box .consul {
	position: relative;
	width: 260px;
}
#concept_04 .contents-box .solution {
	width: 350px;
}
#concept_04 .contents-box .solution ul{
	margin-left: 50px;
}
#concept_04 .contents-box .consul:before {
content: '';
  position: absolute;
  top: -12px;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 45px solid #fff;
  border-right: 45px solid transparent;
  border-bottom: 95px solid transparent;
  border-top: 95px solid transparent;
}
#concept_04 .contents-box .consul:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 99.5%;
  width: 0;
  height: 0;
  border-right: 40px solid transparent;
  border-bottom: 84px solid transparent;
  border-top: 85px solid transparent;
}
#concept_04 .contents-box01 .piece {
	background-color: #d0f4dd;
	background: -moz-linear-gradient(left, #d0f4dd, #d0f4dd);
	background: -webkit-gradient(linear, left top, right top, from(#d0f4dd), to(#d0f4dd));
	background: -ms-linear-gradient(left, #d0f4dd, #d0f4dd);
	background-size: 55% 100%;
	background-repeat: no-repeat;
	background-position: right center;
}
#concept_04 .contents-box01 .consul {
	background: #d0f4dd;
}
#concept_04 .contents-box01 .solution {

	background: #bbeacc;
}
#concept_04 .contents-box01 .consul:after {
  border-left: 39px solid #d0f4dd;
}
#concept_04 .contents-box01 ul {
	color: #9fc697;
}
#concept_04 .contents-box02 .piece {
	background-color: #cdeaf1;
	background: -moz-linear-gradient(left, #cdeaf1, #cdeaf1);
	background: -webkit-gradient(linear, left top, right top, from(#cdeaf1), to(#cdeaf1));
	background: -ms-linear-gradient(left, #cdeaf1, #cdeaf1);
	background-size: 57% 100%;
	background-repeat: no-repeat;
	background-position: right center;
}
#concept_04 .contents-box02 .consul {
	background: #cdeaf1;
}
#concept_04 .contents-box02 .solution {
	background: #a6dce9;
	padding-top: 55px;
}
#concept_04 .contents-box02 .consul:after {
	border-left: 39px solid #cdeaf1;
}
#concept_04 .contents-box02 ul {
	color: #68bdd1;
}
#concept_04 .contents-box03 .piece {
	background-color: #f3e1e1;
	background: -moz-linear-gradient(left, #f3e1e1, #f3e1e1);
	background: -webkit-gradient(linear, left top, right top, from(#f3e1e1), to(#f3e1e1));
	background: -ms-linear-gradient(left, #f3e1e1, #f3e1e1);
	background-size: 57% 100%;
	background-repeat: no-repeat;
	background-position: right center;
}
#concept_04 .contents-box03 .consul {
	background: #f3e1e1;
	padding-top: 130px;
}
#concept_04 .contents-box03 .solution {
	background: #f6d0d0;
}
#concept_04 .contents-box03 .consul:before {
	top: -20px;
	border-left: 45px solid #fff;
	border-right: 45px solid transparent;
	border-bottom: 160px solid transparent;
	border-top: 160px solid transparent;
}
#concept_04 .contents-box03 .consul:after {
	border-right: 35px solid transparent;
	border-bottom: 142px solid transparent;
	border-top: 143px solid transparent;
	border-left: 38px solid #f3e1e1;
}
#concept_04 .contents-box03 ul {
	color: #dfa9a9;
}



/* @media
--------------------------------------------------------------------*/
@media (max-width: 767px) {
	/*common*/
	#concept {
		font-size: 14px;
	}
	#concept .sp{
		display: block;
	}
	#concept .pc{
		display: none;
	}
	.wrap {
		width: 100%;
		padding:0 10px;
	}
	#concept #main-area p {
		padding-right: 5px;
		padding-left: 5px;
	}
	#concept .contents-area {
		padding-top: 40px;
	}
	#concept .contents-area h3{
		margin-bottom: 20px;
		font-size: 24px;
	}
	#concept .btn-scroll {
		width: 53px;
		margin: 10px auto 0;
	}
	#concept .btn-scroll01 {
		height: 41px;
	}
	#concept .btn-scroll02 {
		height: 25px;
		margin-top: 30px;
	}
	/*main-img*/
	#concept .main-img {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
	}
	#concept .main-img h2 {
		margin: 15px auto 20px;
		padding-bottom: 80px;
	}
	/* concept_01 */
	#concept_01 .piece{
		position: inherit;
		width: 100%;
		height: auto;
		margin: 35px auto 25px;
		text-align: center;
	}
	#concept_01 .piece .piece01,
	#concept_01 .piece .piece02,
	#concept_01 .piece .piece03,
	#concept_01 .piece .piece04 {
		position: inherit;
		top:auto;
		left:auto;
		right:auto;
		bottom:auto;
		transform:translateX(0) translateY(0);
		margin-bottom: 40px;
	}
	#concept_01 .piece .piece01 img,
	#concept_01 .piece .piece02 img {
		width: 55%;
	}
	#concept_01 .piece .piece03 img,
	#concept_01 .piece .piece04 img {
		width: 50%;
	}
	#concept_01 .piece span {
		display: block;
		margin-top: 30px;
		font-size: 16px;
	}
	#concept_01 .piece em {
		display: inline-block;
		font-size: 20px;
		font-style: normal;
		font-weight: bold;
		margin-bottom: 10px;
		border-bottom: 2px solid;
	}
	#concept_01 .piece01 em {
		border-bottom-color:#63a3c3;
	}
	#concept_01 .piece02 em {
		border-bottom-color:#eaaa44;
	}
	#concept_01 .piece03 em {
		border-bottom-color:#66aa19;
	}
	#concept_01 .piece04 em {
		border-bottom-color:#ce60a4;
	}
	/* concept_02 */
	#concept_02 .contents-block {
		margin: 25px 0 0;
		padding: 5px 15px 10px;
	}
	#concept_02 .contents-box {
		display: block;
	}
	#concept_02 .contents-box dl {
	width: 100%;
		margin-bottom: 10px;
		background-size: 35px;
		background-position: center 50px;
	}
	#concept_02 .contents-block dt {
  margin-bottom: 50px;
  font-size: 16px;
}
	#concept_02 .contents-block01:after {
	content: '';
	width: 120px;
	height: 70px;
	}
	#concept_02 .contents-block02 {
		margin-top: 80px;
	}
	/* concept_03 */
#concept_03 p.ahead {
	margin-top: -10px;
	font-size: 18px;
	}
	#concept_03 .txt {
		margin: 20px 0 0;
		font-size: 14px;
		padding-bottom: 15%;
	}
	/* concept_04 */
	#concept_04 .contents-block {
		margin-top: 25px;
		padding-top: 0;
	}
	#concept_04 .contents-box .consul,
	#concept_04 .contents-box .solution {
		width: 100%;
	}
	#concept_04 .contents-box dd {
		padding: 20px 15px 0;
	}
	#concept_04 h4 {
		padding: 10px;
		margin: 0 0 20px;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
	}
	#concept_04 .consul h4 {
		color: #348ed4;
		border:2px solid #348ed4;
	}
	#concept_04 .solution h4 {
		color: #df8108;
		border:2px solid #df8108;
	}
	#concept_04 .contents-box {
		display: block;
		width: 100%;
		padding: 20px 0;
		border-radius:5px;
	}
	#concept_04 .contents-box01,
	#concept_04 .contents-box01 .solution {
		background: #d0f4dd;
	}
	#concept_04 .contents-box02,
	#concept_04 .contents-box02 .solution {
		background: #cdeaf1;
	}
	#concept_04 .contents-box03, 
	#concept_04 .contents-box03 .solution {
		background: #f3e1e1;
	}
	#concept_04 .contents-box .piece {
		width: 100%;
		margin-top: 15px;
		text-align: center;
	}
	#concept_04 .contents-box .piece figure {
		position: relative;
		top: 0;
		transform: translateY(0%);
	}
	#concept_04 .contents-box .piece .contxt {
		display: block;
		margin-top: 30px;
	}

	#concept_04 .contents-box01 .piece {
		background-color: #d0f4dd;
		background: -moz-linear-gradient(left, #d0f4dd, #d0f4dd);
		background: -webkit-gradient(linear, left top, left bottom, from(#d0f4dd), to(#d0f4dd));
		background: -ms-linear-gradient(left, #d0f4dd, #d0f4dd);
		background-size: 100% 55%;
		background-repeat: no-repeat;
		background-position: bottom center;
	}
	#concept_04 .contents-box .consul:before {
		display: none;
	}
	#concept_04 .contents-box .consul:after {
		display: none;
	}
	#concept_04 .contents-box .consul ul, 
	#concept_04 .contents-box .solution ul {
		margin-left: 5%;
	}
	#concept_04 .contents-box03 .consul,
	#concept_04 .contents-box02 .solution {
		padding-top: 30px;
	}
	
}