@charset "UTF-8";


/*---------------------------
Stylesheet
---------------------------*/
#content {
    height: auto !important;
}
.container{
    height: auto !important;
}
img {
    vertical-align: middle;
}

h1 {
    margin-top: 10px;
}


#find-page {
    margin-bottom: 60px;
}

#find-page h2 {
    padding: 10px;
    border-left: 6px solid #D94420;
    border-bottom: 1px solid #D94420;
    color: #D94420;
    font-size: 18px;
    margin: 0 0 30px;
}

#find-page h3 {
    padding: 4px 8px;
    line-height: 16px;
    border-left: double 8px #008DDA;
    font-size: 16px;
    margin: 0 0 10px;
}

#find-page form ul {
	margin-bottom: 30px;
    padding: 0;
}

#find-page .col:last-child ul:last-of-type  {
	font-weight: bold;
}

#find-page ul li {
    list-style-type: none;
}

#find-page select {
/*
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	font-size: 14px;
	width: 100%;
    padding: 3px;
    background: #fff;
    border: solid 1px #E2E2E2;
    border-radius: 0;
    position: relative;
    display: inline-block;
    
*/
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: #fff url(/case/find/images/icon_select.png) no-repeat right 50% / auto 100%;
	border: 1px solid #ddd;
    border-radius: 0;
	font-size: 13px;
	padding: .2em .5em;
    width: 100%;
}


::-ms-expand {		/* select要素のデザインを無効にする（IE用） */
	display: none;
}

#find-page label {
	margin-left: 5px;
}

#find-page select#category {
    margin-bottom: 15px;
}

#find-page .pattern1-1-1 {
	width: 100%;
	display: flex;
    margin-bottom: 50px;
}

#find-page .pattern1-1-1 .col {
	width: calc((100% - 100px) / 3); 
	margin-right: 50px;
}

#find-page .pattern1-1-1 .col:last-child {
	margin-right: 0;
}

/* TOP Find */
#find-page .pattern1-1-2 .col {
	width: calc((100% - 100px)); 
	margin-right: 50px;
    color: #000;
}

#find-page .pattern1-1-2 .col .col2 {
	width: calc((100% - 50px) / 2 );
    display: inline-block;
}

#find-page .pattern1-1-2 .col .col3 {
	width: calc((100% - 50px) / 2 );
    display: inline-table;
}

#find-page .pattern1-1-2 .col select {
    width: 90%;
    margin: 0 0 30px 20px;
}

#find-page .pattern1-1-2 .col select.select_service_end{
    margin-bottom: 20px;
}
#find-page .pattern1-1-2 .col ul {
    padding: 0 0 0 20px;
}

#find-page .pattern1-1-2 .col ul li {
    display: inline-block;
    padding: 0 20px 0 0;
    color: #000;
}
/* TOP Find end*/


/*
#find-page .btn-area {
    display: flex;
    max-width: 780px;
    margin: 0 auto;
    width: 100%;
}

#find-page button {
    border: solid 3px #D94420;
    padding: 15px 60px;
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #D94420;
    background: #FFF;
    margin: 0 auto;
    
}

#find-page button:hover {
    cursor: pointer;
    opacity: .7;
}

#find-page button#btn_find {
    width: 50%;
 }   
*/

.btn-area {
    display: flex;
    max-width: 780px;
    margin: 0 auto;
    width: 100%;
}

button {
    border: solid 3px #D94420;
    padding: 15px 60px;
    /* display: block;*/
    font-weight: bold;
    font-size: 15px;
    color: #D94420;
    background: #FFF;
    margin: 0 auto;
    
}

button:hover {
    cursor: pointer;
    opacity: .7;
}

button#btn_find {
    width: 50%;
 }   


#find-page .select-contents {
    border: solid 1px #D94420;
    margin-bottom: 30px;
}

#find-page .select-contents p {
    margin-bottom: 0;
}

#find-page .select-contents .head {
    background: #D94420; 
    color: #FFF;
    padding: .5em 1em;
    font-weight: bold;
    margin-bottom: 0;
}

#find-page .select-contents .inner {
    padding: 1.5em 1.5em .8em;
}

#find-page .select-contents .title{
    display: inline-block;
    width: 5em;
    color: #D94420;
}

#find-page .select-contents ul {
    /* display: flex; */
    padding-left: 0;
    width: calc( 100% - 5em );
}

#find-page .select-contents ul {
/*    display: flex; */
}

#find-page .select-contents ul li {
    margin-right: 1.4em;
    display: inline-block;
    padding-bottom: 2px;
}

#find-page .select-contents .cate,
#find-page .select-contents .tag {
    display: flex;
/*  text-align: right; */
    font-weight: bold;
}

#find-page .search-result-area {
    overflow: hidden;
}

#find-page .search-result-area .volume {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

#find-page .search-result-area h3 {
	margin-bottom: 20px;
}

#find-page .search-result-area .pattern1-1 {
    width: 100%;
}

#find-page .search-result-area .pattern1-1 .col {
    width: calc((100% - 40px) / 2); 
    margin-right: 40px;
    margin-bottom: 30px;
    display: flex;
    float: left;
}

#find-page .search-result-area .pattern1-1 .contents-area {
    width: 100%;
    float: right;
}

#find-page .search-result-area .pattern1-1 .col:nth-child(even){
	margin-right: 0;
}

#find-page .search-result-area .icon-area {
    width: 15%;
    margin-right: 20px;
    float: left;
}

#find-page .search-result-area .icon-area {
    width: auto;
    margin-right: 20px;
    float: left;
}

#find-page .search-result-area p {
    margin-bottom: 10px;
}

#find-page .search-result-area .result-title a {
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

#find-page .search-result-area .label {
    width: auto;
    margin-right: 20px;
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    height: 24px;
}

#find-page .search-result-area .label.cate {
    background: #D94420;
    height: 24px;
    line-height: 24px;
    color: #FFF;
}

#find-page .search-result-area .label.cate:before{
    content: "";
    position: absolute;
    top: 24px;
    right: 1.5px;
    border-right: 12px solid #D94420;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    transform-origin: right top;
    transform: rotate(180deg);
}

#find-page .search-result-area .label.cate a {
    color: #fff;
}

#find-page .search-result-area .label.tag {
    color: #D94420;
    background: #F8ECE0;
    height: 24px;
    line-height: 24px;
}

#find-page .search-result-area .label.tag:before{
    content: "";
    position: absolute;
    top: 24px;
    right: 1.5px;
    border-right: 12px solid #F8ECE0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    transform-origin: right top;
    transform: rotate(180deg);
}

#find-page .search-result-area .label.tag a {
    color: #000;
}

#find-page .search-result-area .to-detail {
    text-align: right;
}

#find-page .search-result-area .to-detail a {
    color: #000;
}


#find-page .service_txt {
    font-weight: bold;
    padding: 0 0 2px 8px;
    display: inline-block;
}

/* @media
--------------------------------------------------------------------*/
@media (max-width: 991px) {
    
#find-page .search-result-area .pattern1-1 .col {
    width: 100% ;
    margin-right: 0;
}
    
}

@media (max-width: 767px) {
    
#find-page .pattern1-1-1 {
    display: block;
}
    
#find-page .pattern1-1-1 .col {
    width: 100%;
    margin-right: 0;
}
    
#find-page .pattern1-1-1 .col:first-child {
    margin-bottom: 30px;
}

#find-page .pattern1-1-2 .col .col2,
#find-page .pattern1-1-2 .col .col3 {
	width: 100%;
}

    #find-page .pattern1-1-2 .col select {
    width: 100%;
}

#find-page .btn-area {
    display: block;
    margin-bottom: 40px;
}
    
#find-page button,
#find-page button#btn_find{
    width: 100%;
}

#find-page button#btn_find{
    margin-bottom: 30px;
}
    
}

@media (max-width: 768px) {
    
#find-page .search-result-area .pattern1-1 .col {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    display: flex;
    float: left;
}
    
#find-page .search-result-area .to-detail {
    margin-top: 10px;
}
    
#find-page .search-result-area .icon-area {
    width: 30px;
    margin-right: 15px;
}
    
#find-page .search-result-area .icon-area img {
    width: 100%;
}
    
#find-page .search-result-area .pattern1-1 .contents-area {
    width: calc((100% - 30px) - 15px);
}
    
}