@charset "UTF-8";

/*------- Introduction -----------*/
.section{
	margin-bottom:43px;
}
#intro_list{
	width:1000px; 
	margin:0px auto;
}
.btn{
	text-align:center;
	padding-bottom: 48px;
}
#intro_box{
	background:url(../images/bg_sec_01.png) no-repeat 125px -26px;
	height:531px;
}
#intro_box h2{
	padding: 25px 155px;
	
}
#intro_box ul{
	width: 510px;
	padding: 25px 163px;
}
#intro_box ul li{
	background:url(../images/icon_list_orange.png) no-repeat;
	height: 29px;
	padding: 0px 0px 19px 37px;	
}
#intro_box ul li{
	font-size: 21px;
	color:#666;
}
#intro_box p{
	text-align: center;
	padding-top: 115px;
}
#intro_btm{
	background:#58c4e0;
}
#corp_housing{
	background:url(../images/bg_btm_inner.jpg) no-repeat top;
	padding: 40px 0 30px;
	overflow:hidden;
	width:860px;
	margin:0px auto;
}
#office_work{
	margin-bottom:6px;
	overflow:hidden;
}
#office_work .pic_r .msg{
	padding-left:20px;
}
#office_work h2{
	text-align:center;
	margin-bottom:29px;
}
#office_work h3{
	margin: 45px 0 28px 0;
}
#office_work p{
	margin-bottom:15px;
	color:#fff;
}
#benefits{
	background: url(../images/bg_btm_text.png) no-repeat;
	overflow:hidden;
	height:185px;
	padding:52px 42px 0px;
}
#benefits li{
	background:url(../images/icon_list_pink.png) no-repeat 4px 4px;
	padding: 0px 30px 0px;	
	font-size:19px;
	color:#1b5564;
}
#benefits h3{
	margin-bottom:12px;
}
#benefits span{
	font-size:14px;
}

/*------------ end Introduction ----------------*/

/*------- NTT point -----------*/
#ntt_point h2{
	text-align:center;
	position:relative;
	top:46px
}
#ntt_point .btn{
	padding-bottom:0px;
}
#point{
	background:#58c4e0;
	padding-bottom:14px;
	width: 100%;
}
#point_inner{
	width:1000px;
	margin:0px auto;
	background: #58c4e0;
}
#point_no{
	/*
	overflow:hidden;
	padding: 42px 130px 10px;
	width: 1000px;*/
	width: 742px;
	height: 229px;
	padding: 42px 0;
	display: block;
	margin: 0 auto;
}
#point_no li{
	float:left;
	margin-right:35px;
}
#point_no li.last {
	margin-right: 0;
}
#point_content {
	padding:0 40px;
}
#point_content li{
	border-radius:10px;
	background:#fff;
	padding:50px 33px 40px 60px;
	margin-bottom:20px;
}
#point_content p{
	padding:27px 0 0px;
}
#point_content p#note{
	font-size:14px;
}
#point_content li span{
	display: block;
    	text-align: center;
	padding-top:40px;
}
#point_content li .pic_r{
	overflow:hidden;
}

/*------------ end NTT Point ----------------*/

/*------- Flow -----------*/

#flow_inner{
	background:url(../images/bg_flow.jpg) no-repeat;
	height: 577px;
}
#flow_content {
	width:1000px;
	margin:0px auto;
	text-align:center;
	padding: 40px 0px 0;
}
#flow_inner h2{
	margin: 2px 0px 15px;
}
#flow_inner p{
	font-size:18px;
}
#flow .btn{
	padding: 10px 0 52px;
}

/*------------ end Flow ----------------*/

/*------- FAQ -----------*/
#faq{
	background:#58c4e0;
	margin-bottom: 53px;
}
#faq_inner {
	background:url(../images/bg_faq.png) 600px 550px no-repeat;
	width:860px;
	margin:0px auto;
	padding: 48px 0px 30px;
}
#faq_inner h2{
	text-align:center;
}
#faq_list{
	padding: 49px 43px 0px 26px;
}
#faq_list li{
	color:#fff;
	margin-bottom: 40px;
}
#faq_list li:last-child .faq_q{
	width: 450px;
}
.faq_q{
	background:url(../images/icon_q.png) no-repeat;
	font-size:25px;
	font-weight:bold;
	padding: 0px 60px 12px;
	border-bottom:1px dotted #fff;
}
.faq_a{
	background:url(../images/icon_a.png) no-repeat;
	padding-left: 60px;
	margin-top: 18px;
	overflow: hidden;
	font-size:18px;
}
.last_q {
	width: 460px;
}
#faq .btn{
	padding-top:10px;
}
/*------------ end FAQ ----------------*/

/*------- Footer -----------*/
#footer{
	background:url(../images/bg_footer_top.png) repeat-x;
	text-align:center;
}
#footer_inner{
	width:820px;
	margin:0px auto;
	padding-top:30px;
}
#footer #ftr_logo{
	float:left;
}
#footer #ftr_info{
	float:right;	
}
#footer #ftr_info p{
	color:#231815;
	text-align:left;
}	
#footer #copyright{
	clear:both;
	font-size:13px;
	font-family:"Meiryo";
	color:#3c3d3d;
	padding:20px 0 15px;
}

.btnhover {
-ms-filter: "alpha( opacity=70 )";
filter: alpha( opacity=70 );
opacity: 0.7;
}

/*------------ end Footer ----------------*/